<h1>Hi</h1>
<%# Toggle Controller that show/hide elements upon clicking a button %>
<%# Clicking a button will show another element (like a dropdown menu) %>
<div data-controller="toggle" data-toggle-change-class="show" data-toggle-special-class="hidden">
  <button data-action="click->toggle#showDropdown">
    Show Dropdown
  </button>
  <div data-toggle-target="dropdownMenu" class="dropdown-menu">
    <%= select_tag 'myDropdown', options_for_select(([['Option 1', 'option1'], ['Option 2', 'option2'], ['Option 3', 'option3']])) %>
  </div>

<%# Clicking an element will hide the clicked element and show another %>
  <h2 data-toggle-target="specialElement"
      data-action="click->toggle#hideAndShowElement"> Click this element. It will hide itself then show another element </h2>
  <h1 data-toggle-target="showElement"
      class="hidden"
      data-action="click->toggle#hideAndShowElement">SURPRISE</h1>


<%# Clicking a checkbox will highlight the element containing the checkbox %>
  <div data-toggle-target="checkbox">
    <div data-action="change->toggle#highlightCheckbox">
      <%= check_box_tag 'option', 'option1', false %>
      <%= label_tag 'option1', 'Option 1' %>
    </div>
   

    <div data-action="change->toggle#highlightCheckbox">
      <%= check_box_tag 'option', 'option2', false %>
      <%= label_tag 'option2', 'Option 2' %>
    </div>
 

    <div data-action="change->toggle#highlightCheckbox">
      <%= check_box_tag 'option', 'option3', false %>
      <%= label_tag 'option3', 'Option 3' %>
    </div>
  </div>
</div>




